{%extends 'base.html'%} {% load crispy_forms_tags%} {%block content%}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="from-group">
      <legend class="border-bottom mb-3">Log In</legend>
      {{form|crispy}}
    </fieldset>
    <div class="form-group btn btn-outline-info" type="submit">
      <button>Log In</button>
    </div>
    <small class="muted">
      <a class="ml-2" href="{%url 'password_reset'%}"> Forgot password?</a>
    </small>
  </form>
  <div class="border-top pt-3">
    <small class="muted">
      Need an account?<a class="ml-2" href="{%url 'register'%}">Sign Up Now</a>
    </small>
  </div>
</div>
{%endblock%}
