{%extends 'base.html'%} {% load crispy_forms_tags%} {%block content%}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="from-group">
      <legend class="border-bottom mb-3">Join today</legend>
      {{form|crispy}}
    </fieldset>
    <div class="form-group btn btn-outline-info" type="submit">
      <button>Sign up</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="muted">
      Already have an account?<a class="ml-2" href="{%url 'login'%}">Sign In</a>
    </small>
  </div>
</div>
{%endblock%}
